/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-very-dark-grayish-blue: 217, 19%, 35%;
  --clr-desaturated-dark-blue: 214, 17%, 51%;
  --clr-grayish-blue: 212, 23%, 69%;
  --clr-light-grayish-blue: 210, 46%, 95%;

  /* FONT FAMILY */
  --ff-manrope: 'Manrope', sans-serif;

  /* FONT SIZE */
  --fs-default: 0.8125rem;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;

  /* BREAKPOINTS */
}

/**------------------- 
**    UTILITIES
--------------------*/
.hide {
  display: none;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-manrope);
  font-size: var(--fs-default);
  font-weight: var(--fw-medium);
}

.main {
}

/**----------------------
** ARTICLE PREVIEW CARD
-----------------------*/
.article-preview-card {
}

/**------------------
**    APC IMAGE
-------------------*/
.article-preview-card__image {
}

/**------------------
**   APC CONTENT
-------------------*/
.article-preview-card__content {
}

.article-preview-card__header {
}

.article-preview-card__text {
}

/**------------------
**      USER
-------------------*/
.user {
}

.user__image {
}

.user__information {
}

.user__share-icon {
}

.user__social-media-icons {
  background-color: gray;
}

.user__social-media-icon {
}
