/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-very-dark-grayish-blue: 217, 19%, 35%;
  --clr-desaturated-dark-blue: 214, 17%, 51%;
  --clr-grayish-blue: 212, 23%, 69%;
  --clr-light-grayish-blue: 210, 46%, 95%;

  /* FONT FAMILY */
  --ff-manrope: 'Manrope', sans-serif;

  /* FONT SIZE */
  --fs-default: 0.8125rem;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
}

/**------------------- 
**    UTILITIES
--------------------*/
.hide {
  display: none;
}

.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-manrope);
  font-size: var(--fs-default);
  font-weight: var(--fw-medium);
}

/* for centering the card */
.main {
  display: grid;
  place-items: center;

  min-height: 100vh;
}
/* .main > .article-preview-card__wrapper {
  display: grid;
  place-items: center;

  min-height: 100vh;
} */

/* links with icons in them */
.image-link {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (min-width: 48em) {
  .image-link {
    height: 1rem;
    width: 1rem;
  }
}

/**----------------------
** ARTICLE PREVIEW CARD
-----------------------*/
/* .article-preview-card__wrapper */

.article-preview-card {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 4px 10px 2px hsl(var(--clr-very-dark-grayish-blue), 10%);
  position: relative;
  width: clamp(23ch, 100%, 46ch);
}

@media only screen and (min-width: 48em) {
  .article-preview-card {
    flex-direction: row;
    width: clamp(94ch, 100%, 97ch);
  }
}

/**------------------
**    APC IMAGE
-------------------*/
.article-preview-card__image {
  border-top-left-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 48em) {
  .article-preview-card__image img {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    height: 100%;
    object-fit: cover;
  }
}

/**------------------
**   APC CONTENT
-------------------*/
.article-preview-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
}

.article-preview-card__header {
  color: hsl(var(--clr-very-dark-grayish-blue));
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

.article-preview-card__text {
  color: hsl(var(--clr-desaturated-dark-blue));
  font-size: 0.978rem;
  line-height: 1.5625rem;
}

@media only screen and (min-width: 48em) {
  .article-preview-card__header {
    font-size: 1.3rem;
  }
}

/**------------------
**      USER
-------------------*/
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem 2rem 2rem;
}

.user__image {
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.9375rem;
  overflow: hidden;
}

.user__image img {
  width: 4.25rem;
}

.user__information {
  display: flex;
  flex-direction: column;

  margin: 0 auto 0 0;
}

.user__information span:first-child {
  color: hsl(var(--clr-very-dark-grayish-blue));
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

.user__information span:last-child {
  color: hsl(var(--clr-grayish-blue));
}

.user__share-icon {
  background-color: hsl(var(--clr-light-grayish-blue));
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.7rem;
}

.user__share-icon:hover {
  background-color: hsl(var(--clr-very-dark-grayish-blue));
}

.user__share-icon svg {
  fill: #6e8098;
  height: 1rem;
  width: 1rem;
}

.user__share-icon:hover svg {
  stroke: white;
  fill: #fff;
}

/**---------------------
** SOCIAL MEDIA ICONS
----------------------*/
.share-block {
  background-color: hsl(var(--clr-very-dark-grayish-blue));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
}

.user__social-media-icons {
  flex: 0 1 14.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__social-media-icon {
  height: 100%;
  width: 100%;
}

.user__share-text {
  color: hsl(var(--clr-desaturated-dark-blue));
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* share button */
.user__share-icon--mobile {
  background-color: transparent;
}

.user__share-icon--mobile:hover {
  background-color: hsl(var(--clr-light-grayish-blue), 35%);
}

.user__share-icon--mobile svg {
  fill: #fff;
}

@media only screen and (min-width: 48em) {
  .share-block {
    position: absolute;
    top: 10.063rem;
    right: -34px;

    border-radius: 10px;
    padding: 1rem;
  }

  .share-block::after {
    position: absolute;
    left: 41%;
    top: 99%;

    background-color: hsl(var(--clr-very-dark-grayish-blue));
    clip-path: polygon(49% 100%, 3% 0, 100% 0);
    content: '';
    height: 0.8125rem;
    width: 1.625rem;
  }

  .user__social-media-icons {
    gap: 0.5rem;
  }

  .user__share-icon--mobile {
    display: none;
  }

  .user__share-text {
    font-size: 0.75rem;
  }
}
